<div class="comment framed">
    <div class="comment-body">
        <div class="username">
            <a href="/profile/{{user.userId}}">{{user.firstName}} {{user.lastName}}</a>
        </div>
        <div class="comment-date">{{commentDate}}</div>
        <div class="comment-content">
            {{content}}
        </div>
    </div>
</div>
